[submodule "Talot/vendor/eigen"]
	path = Talot/vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "SandBox/vendor/CLI11"]
	path = SandBox/vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
